@model IEnumerable<GalleriaDesign.Models.problem>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QCGalleria/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form enctype="multipart/form-data" method="post" action="@Url.Action("cargarImagen")">
    <input name="[0].image" accept="image/*" type="file" capture/>
    <input type="hidden" id="[0].typeImage" name="[0].typeImage" value="1">
    <canvas ></canvas>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" accept="image/*" capture/>
        </div>
    </div>

        <input id="image" name="image" class="form-control" value="adjunto" accept="image/*" type="file" capture />

   



</form>



@section Scripts {



<script type="text/javascript">
    var input = document.querySelector('input[type=file]'); // see Example 4

    input.onchange = function () {
        var file = input.files[0];

        
        drawOnCanvas(file);   // see Example 6
     //   displayAsImage(file); // see Example 7
    };
         
    function drawOnCanvas(file) {
        var reader = new FileReader();

        reader.onload = function (e) {
            var dataURL = e.target.result,
                c = document.querySelector('canvas'), // see Example 4
                ctx = c.getContext('2d'),
                img = new Image();

            img.onload = function () {
                c.width = 200;
                c.height = 200;
                ctx.drawImage(img, 0, 0,200,200);
            };

            img.src = dataURL;
        };

        reader.readAsDataURL(file);
    }

    function displayAsImage(file) {
        var imgURL = URL.createObjectURL(file),
            img = document.createElement('img');

        img.onload = function () {
            URL.revokeObjectURL(imgURL);
        };

        img.src = imgURL;
        document.body.appendChild(img);
    }


</script> 

}
