@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

<div class="row" align="center" >
    <div class="col-md-12">

        @*<img src="@Url.Action("Preview", new { file = ""})" class="img-responsive" />*@
        <img src="@Url.Action("GetImage", new { imageID=448 })" class="img-responsive" />

    </div>
</div>
</div>
